.container.blue {
  background-color: #9eacb8;
  width: 200px;
  height: 300px;
  border: 5px solid #70d3f2;
  margin: auto;
  margin-top: 15px;
  border-radius: 12px;
  text-align: center;
  display: flexbox;
}

.count {
  background-color: #70d3f2;
  border: 5px solid #272a30;
  border-radius: 10px;
  display: block;
  font-size: 33px;
  width: 190px;
  text-align: center;
  height: 50px;
  padding-top: 70px;
 padding-bottom: 70px;
 
}
.buttons {
  display: flex;
  height: 90px;
  background-color: #70d3f2;
  border: 5px solid #272a30;
  border-radius: 10px;
}
.button1 {
  width: 50%;
  padding-top: 25px;
  
}
.button2 {
  width: 50%;
  padding-top: 25px;
}
.container.red {
  background-color: #c92b99;
  width: 200px;
  height: 300px;
  border: 3px solid #ff5e3a;
  margin: auto;
  margin-top: 15px;
  border-radius: 12px;
  text-align: center;
  display: flexbox;
}
