.selectedPage {
  font-weight: bold;
  font-size: 20px;
}
.paginator {
  width: 100%;
  margin: 10px;
  text-align: center;
}
.pageNumber {
  padding: 2px;
  border: 1px solid grey;
}

.pageNumber.selectedPage {
  font-weight: bold;
  border-color: black;
}