
.userBar {
  display: grid;
  margin: auto;
  height: 100px;
  width: 450px;
  
  grid-template-areas:
    "l r  "
    "l r ";
  grid-template-columns: 100px 1fr;
  grid-template-rows: 40px 40px;
  font-size: 18px;
  padding: 10px;
  padding-top: 15px;
}
.leftPart {
  grid-area: l;
  text-align: center;
}





