
.formControl.error  > textarea
{
    border: 3px solid #ff5e3a;
   
}

.formControl.error  > span
{
    padding-left: 15px;
   
    font-weight: bold;
    color: #ff5e3a;
}

.formSummartError {
    border: 1px solid red;
    
}
.field {
    float: left;
}