
.formControl.error  > textarea
{
    border: 3px solid red;
    
}

.formControl.error  > span
{
    font-weight: bold;
    color: red;
}

.formSummartError {
    border: 1px solid red;
    padding: 5px;
}