.textarea {
  height: 100%;
  background-color: #3f4257;
}
.textarea textarea {
   height: 40px;
   width: 600px;
 display: block;
margin-left: 20px;
 margin-top: 20px;
 float: left;
}
.textarea >  button {
  
  float: right;
  height: 35px;
  margin-top: 30px;
  margin-right: 20px;
}
