.textarea {
  height: 100px;
  background-color: #3f4257;
}
.textarea textarea {
   height: 40px;
   width: 650px;
 background-color: #ffffff;
margin-left: 20px;
 margin-top: 20px;
 float: left;
}
.textarea >  button {
  color: #3f4257;
  background-color: #fcfeff;
  float: right;
  margin: 10px;
  margin-top: 25px;
  width: 90px;
  text-align: center;
  height: 30px;
  vertical-align: middle;
  cursor: pointer;
  background-image: none;


  font-size: 1.4rem;
  border-radius: 3px;
  border: 2px solid transparent;
  
 
}

