.preloaderPic {
	margin-top: 50px;
	margin-left: 20px;
	text-align: center;
	background-size: cover;
	border-radius: 50%;
	margin-bottom: 325px;
}

.preloaderPic img {
	height: 250px;
	width: 250px;
	object-fit: cover;
	border: 3px solid #3f4257;
}
