.nav {
  
  background-color: rgb(187,215,236);
  padding: 20px;
  grid-area: n;
  height: 200px;
  width: 159px;
  border-right: 1px solid #3f4257;
}

.item a {
  color: #3f4257;
  text-decoration: none;
  font-family: 'Fira Sans Extra Condensed', sans-serif; 
   font-size: 22px;
}
.item a.activeLink { 
  font-size: 30px;
  font-family: 'Fira Sans Extra Condensed', sans-serif;
  color: #3f4257;
  font-weight: bold;
}
.fullPart {
 
    display: flex;
    flex-wrap: wrap;
     
  }
  .navbarPart {
    grid-area: n;
    background-color: rgb(187,215,236);

  }
  .sidebarPart {
    grid-area: s;
    background-color: rgb(187,215,236);


  }
  .otherPart {
    
    background-color: rgb(187,215,236);
width: 199px;
height: 1fr;
border-right: 1px solid #3f4257;

  }