.barArea {
  margin: 30px;
  height: 60px;;
  width: 300px;
  background-color: #3f4257;
  text-align: left;
  border: 1px solid red;
  
}
.barArea .fullName{
  font-family: 'Bangers', cursive;
font-size: 38px;
margin-left: 20px;
padding-top: 9px;
margin-bottom: 10px;
color: white;
}
 .status {
  border-top: 1px solid white;
  background-color: #3f4257;

  color: #ff5e3a;
height: 30px;
width: 300px;
}