.barArea {

  height: 60px;;

  background-color: #3f4257;
  text-align: left;
  border-radius: 15px;
  border: 2px solid #3f4257;
  grid-area: r;
  
}
.barArea .fullName{
  font-family: 'Neucha', cursive;
font-size: 32px;
margin-left: 20px;


color: white;
}
 .status {
   padding-left: 15px;
  border-top: 2px solid white;
  background-color: #3f4257;
  border-radius: 5px;

color: #ff5e3a;
height: 30px;

}