.content img {
    width: 1000px;
    height: 150px;
    object-fit: cover;
    border-top: 1px solid #3f4257;
    border-right: 1px solid #3f4257;
    border-bottom: 1px solid #3f4257;
  
  }
  .discription {
    padding: 10px;
  }