.appWrapper {
  display: grid;
  width: 1201px;
  margin: 0 auto;
  grid-template-areas:
    "h h"
    "n c"
    "f c" ;
  grid-template-rows: 60px 200px 1fr ;
  grid-template-columns: 2fr 10fr;
  background-color: #edf2f6;
  border: 1px solid #3f4257;

}
.appWrapperContent {
  grid-area: c;
  background-color: #edf2f6;
  width: 1000px;
  border-left: 1px solid #3f4257;
margin-left: -1px;
}





