.dialogs {
  display: grid;
  /* grid-template-columns: 4fr 11fr; */
  grid-template-areas:
    "d m"
    "d t";
    grid-template-columns: 200px 1fr;
    grid-template-rows: 1fr 100px;
   
}
.dialogsItems {
  grid-area: d;
  padding: 20px;
  border-right: 1px solid #3f4257;
}

.messageElements {
  padding: 10px;
  grid-area: m;
}
