.avatar img {
  border-radius: 50%;
  width: auto;
  height: 130%;
  margin-left: -11px;
  margin-top: -9px;

}
.avatar {
  border: 3px solid #3f4257;
  display: inline-block;
  border-radius: 50%;
  height: 70px;
  width: 70px;
  overflow: hidden;
  text-align: center;
  
}